
html{
  background-color:  #f2f0e8;
}

header, footer {
  background-color: #447c95 ;
  text-align: center;
  min-width: 500px;
  color:   #d6dadc  ;
}

.desc{
  text-align: center;
  font-family: 'Special Elite', cursive;

}

h5{
  position: relative;
  bottom: 15px;
}

p{
  font-family: 'Harmattan', sans-serif;
  font-size: 22px;
  color: #4a4947;
  word-wrap: break-word;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 23px;
}

.p1{
    text-indent: 150px;

}

.newline{
    margin-left: 150px;

}

blockquote{
    color: #191c1a ;

}

.meme{
  margin-right: 250px;
  margin-left: 150px;
  border: 1px solid black;
  padding: 20px 20px;
  border-radius: 10%;
  background-image: url("whatsapp.png")
}

video{
  outline: none;
}

.vid{
  outline: none;
  padding-left: 600px;
}

.ami{
  position: relative;
  bottom: 300px;
  margin-left: 350px;

  border: 1px solid black;
  margin-right: 300px;
  padding: 35px 12px;
  border-radius: 5%;
  background-color: #075E54;
  font-weight: bold;
}

.dip{
  border: 1px solid black;
  margin-right: 540px;
  margin-left: 30px;
  padding: 35px 12px;
  border-radius: 5%;
  background-color: #075E54;
  font-weight: bold;
}

.p2{
  text-indent: 150px;

}



main {
  


}

header{
  height:50px;
  padding-top: 10px;
}

h1{
  font-family: 'Special Elite', cursive;
  padding-top: 10px;
  position: relative;
  bottom: 20px;
}


.container {
  min-width: 500px;
  margin: auto;
}

footer {
  margin-top: 44px;
  height:55px;
}

code{
  position: relative;
  top:20px;
  color: white;
}
