html,
body {
  min-height: 100vh;
}

html {
  font-size: 16px;
  position: relative;
}

body {
  background-color: #e6fcf5; 
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
  margin-top: 44px;
  padding-bottom: 44px;
}

@media screen and (max-width: 640px){
.top-buffer { margin-top:40px; }

}

header,
footer {
  background-color: DarkOliveGreen;
  text-align: center;
  width: 100%;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  color: white;
  padding-top: 25px;
  letter-spacing: 5px;
}

.blog {
  font-family: "Amatic SC", cursive;
  font-size: 19px;
  padding-bottom: 17px;
  letter-spacing: 5px;
  color: white;
  margin-bottom: 17px;
  position: relative;
  top:7px;
}

h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 27px;
  text-align: left;
  color: #592352;
  padding: 10px 0px 0px 10px;
  margin-top: 20px;
}

.recipe > img {
  width: 100%;
  height: auto;
}

.recipe {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  width: 200px;
  transition: all 0.2s;
}

.recipe:hover {
  background-color: #fceebf;
  box-shadow: 10px 10px gray;
}

.time {
  margin-left: 10px;
  height: 14px !important;
  width: auto !important;
}

.mins {
  display: inline-block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4a4a4a;
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}

.description {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #4a4a4a;
}


footer{
  margin-top: 84px;

}

footer a {
  font-size: 3rem !important;
  color: white;
}

@media screen and (max-width: 640px){

  footer a {
  font-size: 2rem !important;
  color: white;
}  

} 


#amplify {
  height: 2.7rem;
  width: 2.7rem;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 1px;
  background-color: white;
}

@media screen and (max-width: 640px){
  #amplify {
  height: 1.8rem;
  width: 1.8rem;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 2px 1px;
  background-color: white;
}
} 


#amplify:hover{
  border-color: black;
  background-color: transparent;
}

footer .fa:hover {
  color: black;
  text-decoration: none;
}

#contact{

  text-decoration: none;
  font-family: 'Neuton', serif;
  color:white;
  letter-spacing: 3px;
  border: 1px solid white;
  padding:5px 7px;
  border-radius: 7%;

  outline: none;
  font-size: 1.2rem !important;
}

@media screen and (max-width: 640px){
 #contact{

  text-decoration: none;
  font-family: 'Neuton', serif;
  color:white;
  letter-spacing: 3px;
  border: 1px solid white;
  padding:5px 7px;
  border-radius: 7%;

  outline: none;
  font-size: 0.9rem !important;
}
} 

#contact:hover{
  color:black;
  border-color: black;
}


@media screen and (max-width: 640px){
 
  code{
    font-size: 0.6rem;
  }

} 

