html{
    background-color: #e6fcf5; 

}

header, footer {
  background-color: DarkOliveGreen;
  text-align: center;
  min-width: 500px;
  padding-bottom: 20px: 
}

main {

  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: repeat(1, 450px);
  grid-gap: 20px;
  margin-top: 44px;
  padding-bottom: 44px;
  justify-items: center;
  justify-content: space-evenly;

  align-items: stretch;
  align-content: center;

  grid-auto-flow: row dense;
}

h1{

  font-family: 'Quicksand', sans-serif;
  color: white;
  padding-top: 25px;
  letter-spacing: 5px;
}

.blog{
  font-family: 'Amatic SC', cursive;
  padding-bottom: 15px;
  letter-spacing: 5px;
  color: white;
  position: relative;
  bottom: 12px;

}


h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffa500;
  padding: 10px 0px 10px 10px;
}

img {
  width: 100%;
  height: auto;
}

.recipe {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  width: 200px;
}

.recipe:hover{
  background-color: #fae397;
}

.a {

  
}

.c {
 

  
}

.time {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
  height: auto;
}

.mins {
  display: inline-block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4a4a4a;
  position: relative;
  bottom: 5px;
}

.description {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}

.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}

.container {
  min-width: 500px;
  margin: auto;
}

footer {
  margin-top: 44px;

}

.my_foot{
  padding: 0 auto;
  color: white;
}

.my_foot ul{
  display: inline;
  list-style: none;
  position: relative;
  top:20px;
  bottom: 25px;
}



#contact{
  float: right;
  font-size:17px; 
  text-decoration: none;
  font-family: 'Neuton', serif;
  color:white;
  letter-spacing: 3px;
  font-weight: bold;
  border: 1px solid white;
  padding:5px 7px;
  margin-right: 20px;
  position: relative;bottom: 50px;
  border-radius: 7%;
    

}


#contact:hover{
  color:black;
  border-color: black;
}

#tweet{
  float:left;
  position: relative;bottom: 16px;left:40px;
  color:white;

}

#tweet:hover{
  color:black;
}

.my_foot code{
  display: flex;
  height:100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px;
}

.my_foot img{
  height: 3%;
  width: 3%;
  float:left;
  position: relative;
  left: 70px;
  bottom: 13px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 2.5px 2.5px;
}

.my_foot img:hover{
  border-color: black;
  background-color: white;
}

.fa{

    padding-right: 30px;

}