html{
  background-color: black ;
}

header, footer {
  background-color: #EB9605;
  text-align: center;
  min-width: 500px;
  color: black;
}

.desc{
  text-align: center;
  font-family: 'Special Elite', cursive;
  color:#FADA5E;

}

.img1{
  height: 20%;
  width: 20%;
  position: relative;
  bottom: 50px;
}

h5{
  position: relative;
  bottom: 15px;
}

p{
  font-family: 'Harmattan', sans-serif;
  font-size: 22px;
  color: #FADA5E;
  word-wrap: break-word;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 30px;
}

.p1{
  text-indent: 150px;
}

h3{
    color: #FADA5E;
    margin-left: 35px;

}

h2{
    color: #FADA5E;
    margin-left: 35px;

}

img{
  background-color: transparent;
}

span{
  font-family: 'Harmattan', sans-serif;
  font-size: 22px;
  color: #FADA5E;
}

header{
  height:50px;
  padding-top: 10px;
}

h1{
  font-family: 'Special Elite', cursive;
  padding-top: 10px;
  position: relative;
  bottom: 20px;
}


.container {
  min-width: 500px;
  margin: auto;
}

footer {
  margin-top: 44px;
  height:55px;
}

code{
  position: relative;
  top:20px;
  color: black;
}
