html,
body {
  min-height: 100vh;
  min-width: 100vh;
}




html{
  background-color:  #f2f0e8;
  font-size: 16px;
  position: relative;
}

header, footer {
  background-color: #447c95 ;
  text-align: center;
  color:   #d6dadc  ;
}

.desc{
  text-align: center;
  font-family: 'Special Elite', cursive;

}

p{
  font-family: 'Harmattan', sans-serif;
  font-size: 22px;
  color: #4a4947;
  word-wrap: break-word;
  padding-left: 35px;
  padding-right: 35px;
  line-height: 30px;
}

.p1{
    text-indent: 150px;

}

.newline{
    margin-left: 150px;

}

blockquote{
    color: #191c1a ;

}

.ami{
  border: 1px solid black;
  border-radius: 5%;
  background-color: #075E54;
  font-weight: bold;
  padding: 35px 12px;
}

.dip{
  border: 1px solid black;
  border-radius: 5%;
  background-color: #075E54;
  font-weight: bold;
  padding: 35px 12px;
}

.meme{
  border: 1px solid black;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px 20px;
  border-radius: 10%;
  background-image: url("whatsapp.png");
  min-height: 500px;
}

@media screen and (min-width: 1008px){
  .meme{
    height: 600px;
    max-width: 70%;
  }

  .r1{
    padding-left: 200px;
  }

}


@media screen and (min-width: 641px){
  #ok{
  width: 100%;
  height: 415%;
}
#this_col{
  position: relative;
  right: 80px;
}

}


video{
  outline: none;
}

.vid{
  outline: none;
  padding-left: 600px;
}



@media screen and (max-width: 640px){
.top-buffer { margin-top:60px; }
.top-buffer-2{ margin-top: 30px; }
.top-buffer-3{ margin-top: 10px; }
.top-buffer-fin{margin-top: 300px;}

#this_img1{
  height: 80%;
}
#this_img2{
  height:80%;
}


}

.top-buffer-1 { margin-top:30px; }


.p2{
    
    line-height: 30px;

}

header{
  height:50px;
  padding-top: 10px;
}

h1{
  font-family: 'Special Elite', cursive;
}


.container {
  min-width: 500px;
  margin: auto;
}

footer {
  margin-top: 44px;
  height:55px;
}

code{
  position: relative;
  top:20px;
  color: white;
}

.back_button{
  margin-left: 10px;
}

.back{
  font-family: 'Harmattan', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #4a4947;
  margin-left: 6px;
  position: relative;
  bottom: 7px;
}
